extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel="stylesheet", href="/stylesheets/style.css")
block body
    +navbar("Colenso", "dropdown_menu")
        +nav_item("/", "active") Home
        +nav_item("/browse") Browse
        +nav_item("/submit_page") Submit

    .container
        form(action='/search', method='get')
            +tab-list(['Text', 'XQuery'],0)
                +tab('Text', 'active')
                    +input('text', 'text_search', 'Text', '', 'text_search')
                +tab('XQuery')
                    +input('text', 'query_search', 'XQuery', '', 'query_search')
            +submit('search')

    .container
        -if(text_search_result !== undefined){
            ul
                each xml in text_search_result
                    li
                        a(href='display/id/'+xml.id) #{xml.id}
        -}
        -if(query_search_results != undefined){
            p !{query_search_results}
        -}

    ul
        //-console.log("database_list[0]: "+database_list[0]);
        -if(database_list != undefined){
            -var heading;
            -for (i = 0; i < database_list.length; i++) {
                -var database_list_split = database_list[i].split("/");
                -if (heading != database_list_split[0]) {
                    -heading = database_list_split[0];
                    form(name="author", method="get" , action= heading)
                        div.actions
                            input.btn.btn-default(type="submit", value= heading)
                -};
                //-console.log("database_list[i]"+database_list[i]);
                -var link_text = "/display/"+database_list[i];

                //-console.log("link_text:"+link_text)
                li: a(href = link_text) #{database_list[i]};
            -};
        -}

    -if(xml_doc !== undefined){
        +tab-list(['Text', 'XML'],0)
            +tab('Text', 'active')
                p !{xml_doc.text}
            +tab('XML')
                p #{xml_doc.text}
        -console.log("xml_doc.id: "+xml_doc.xml_id);
        a(href='/download/id/'+xml_doc.xml_id) #{xml_doc.xml_id}
    -}