extends ../node_modules/jade-bootstrap/_bootstrap

head
    title=title
block body
    +navbar("Mini Project", "dropdown_menu")
        +nav_item("/", "active") Home
        +nav_item("/browse") Browse
        +nav_item("/submit") Submit
    .container
        form(name="search", method="get", action="/search/XQUERY")
            .input(style='max-width:600px')
                input.form-control(type='text', placeholder='XQUERY', name='input')
                button.btn.btn-default(type='submit' value = 'xquery')
                    +icon("search")
    .container
        form(name="search", method="get", action="/search/Text")
            .input(style='max-width:600px')
                .input
                    input.form-control(type='text', placeholder='Text', name='input')
                    button.btn.btn-default(type='submit')
                        +icon("search")
    .container
        h1=title
        .container
            p #{search_result}

    form(name="search", method="get", action="/browse/")
        .form-group.has-feedback(style='max-width:600px')
            div.actions
                input(type="submit", value="browse")
    ul
        //-console.log("database_list[0]: "+database_list[0]);
        -var heading;
        -for (i = 0; i < database_list.length; i++) {
            -var database_list_split = database_list[i].split("/");
            -if (heading != database_list_split[0]) {
                -heading = database_list_split[0];
                    form(name="author", method="get" , action= heading)
                        div.actions
                            input.btn.btn-default(type="submit", value= heading)
            -};
            //-console.log("database_list[i]"+database_list[i]);
            -var link_text = "/display/"+database_list[i];

            //-console.log("link_text:"+link_text)
            li: a(href = link_text) #{link_text};
        -};

    p !{xml_doc}